Repository ElectroRoute-Japan/mms-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy --non-interactive --install-types
  language: system
  require_serial: true

Added surplus capacity serialization tests
  tests/test_files/surplus_capacity_data_full.xml
  tests/test_files/surplus_capacity_submit_full.xml
  tests/test_types/test_surplus_capacity.py
  tests/testutils.py
Due: pylint

Added settlement endpoint tests
  src/mms_client/services/market.py
  src/mms_client/utils/serialization.py
  tests/test_client/test_market.py
  tests/test_files/get_settlement_results_request.xml
  tests/test_files/get_settlement_results_response.xml
Due: pylint, mypy

Added tests to the put_bup and put_bups routes
  src/mms_client/services/market.py
  src/mms_client/types/market.py
  src/mms_client/utils/serialization.py
  tests/test_client/test_market.py
  tests/test_files/get_settlement_results_response.xml
  tests/test_files/put_bup_request.xml
  tests/test_files/put_bup_response.xml
  tests/test_types/test_market.py
Due: pylint, mypy

Added query_bups tests
  src/mms_client/services/market.py
  src/mms_client/types/market.py
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_files/query_bups_request.xml
  tests/test_types/test_market.py
Due: pylint, mypy

Added tests for putting surplus capacity
  tests/test_client/test_omi.py
  tests/test_files/put_surplus_capacity_request.xml
  tests/test_files/surplus_capacity_response.xml
  tests/testutils.py
Due: pylint

Added surplus capacity tests
  tests/test_client/test_omi.py
  tests/test_files/query_surplus_capacity_request.xml
Due: pylint

Updated README
  README.md
Due: none

Upgrade workflows to python 3.12
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

Update version
  pyproject.toml
Due: none

Use our pre-commit checker
  .github/workflows/check.yml
Due: none

forgot version
  .github/workflows/check.yml
Due: none

Forgot to update black check
  .pre-commit-config.yaml
Due: none

Fixed weird mypy error
  src/mms_client/services/base.py
Due: pylint, mypy

Renamed BUP
  src/mms_client/services/market.py
  src/mms_client/types/bup.py
  tests/test_client/test_market.py
  tests/test_types/test_bup.py
  tests/testutils.py
Due: pylint, mypy

Fixed release pipeline
  .github/workflows/release.yml
Due: none

Have to make their XSD not be breaking
  pyproject.toml
  src/mms_client/schemas/xsd/mi-market.xsd
  tests/test_files/awards_response_real.xml
Due: none

Updated the MarketQuery to allow days to be up to 31 in the future
  pyproject.toml
  src/mms_client/types/market.py
Due: pylint, mypy

Updates for 2026
  pyproject.toml
  src/mms_client/schemas/xsd/mi-market.xsd
  src/mms_client/schemas/xsd/mi-outbnd-reports.xsd
  src/mms_client/schemas/xsd/mpr.xsd
  src/mms_client/schemas/xsd/omi.xsd
  src/mms_client/types/award.py
  src/mms_client/types/fields.py
  src/mms_client/types/market.py
  src/mms_client/types/report.py
  tests/test_client/test_market.py
  tests/test_files/awards_response_full.xml
  tests/test_files/query_awards_request.xml
  tests/test_files/query_awards_response.xml
  tests/test_types/test_award.py
  tests/test_types/test_market.py
  tests/test_types/test_offer.py
  tests/testutils.py
Due: pylint, mypy

Made the pattern number optional
  pyproject.toml
  src/mms_client/types/surplus_capcity.py
  tests/test_types/test_surplus_capacity.py
  tests/testutils.py
Due: pylint, mypy

Refactored CODEOWNERS file
  .vscode/settings.json
  CODEOWNERS
  poetry.lock
Due: none

Fixed URL to point at new service
  pyproject.toml
  src/mms_client/utils/web.py
  tests/test_client/test_omi.py
  tests/test_utils/test_plugin.py
  tests/test_utils/test_web.py
  tests/testutils.py
Due: pylint, mypy

Fixed issue with session reuse on MMS
  .pre-commit-config.yaml
  pyproject.toml
  src/mms_client/utils/web.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$, but not: ^docs/
  mypy: any of: \.py$, but not: ^tests/
