Repository ElectroRoute-Japan/mms-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0 # Use the ref you want to point at
    hooks:
      # Git style
      - id: check-added-large-files
        args: ["--maxkb=512"]
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: forbid-new-submodules

      # Common errors
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^.devcontainer/|^.vscode/
      - id: check-executables-have-shebangs
      - id: check-docstring-first

      # Cross platform
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.3
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/python-poetry/poetry
    rev: "1.5.1"
    hooks:
      # - id: poetry-lock
      - id: poetry-check

  # Code formatter
  - repo: https://github.com/ambv/black
    rev: "24.2.0"
    hooks:
      - id: black
        language_version: python3.11

  # Code formatter
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        description: isort is a tool for ordering imports

  # Code (doc) formatter
  - repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
      - id: docformatter
        name: docformatter
        description: "Formats docstrings to follow PEP 257."
        entry: docformatter
        args: [--in-place, --wrap-summaries, "120", --wrap-description, "120"]
        language: python
        types: [python]

  # Lint
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle
        description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
        entry: pydocstyle
        language: python
        types: [python]

  # Lint
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        require_serial: true
        exclude: ^docs/

  # Type checking.  Use local version to pickup local dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy --non-interactive --install-types
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/

  # Calculating cyclomatic complexity
  - repo: https://github.com/yunojuno/pre-commit-xenon
    rev: v0.1
    hooks:
      - id: xenon
        args: ["--max-absolute=B", "--max-modules=B", "--max-average=A"]
        exclude: ^(bin/)

Forgot to add :(
  src/mms_client/services/base.py
  src/mms_client/utils/errors.py
  tests/test_client/test_base.py
Due: pylint, mypy

Need to fix signature verification
  poetry.lock
  pyproject.toml
  src/mms_client/security/certs.py
  src/mms_client/security/crypto.py
Due: pylint, mypy

Added reserve requirements query
  src/mms_client/services/market.py
  src/mms_client/types/reserve.py
  tests/test_client/test_market.py
  tests/test_files/query_reserve_requirements_request.xml
  tests/test_files/query_reserve_requirements_response.xml
  tests/test_files/reserve_requirement_full.xml
  tests/test_types/test_reserve.py
  tests/testutils.py
Due: pylint, mypy

Update version; update readme
  README.md
  pyproject.toml
Due: none

Fixed issues with communication; added multipart requests
  pyproject.toml
  src/mms_client/security/certs.py
  src/mms_client/security/crypto.py
  src/mms_client/services/base.py
  src/mms_client/services/market.py
  src/mms_client/types/base.py
  src/mms_client/types/transport.py
  src/mms_client/utils/multipart_transport.py
  src/mms_client/utils/serialization.py
  src/mms_client/utils/web.py
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_client/test_registration.py
  tests/test_files/base_request.xml
  tests/test_files/delete_offer_request.xml
  tests/test_files/put_offer_request.xml
  tests/test_files/put_resource_request.xml
  tests/test_files/query_awards_request.xml
  tests/test_files/query_offers_request.xml
  tests/test_files/query_reserve_requirements_request.xml
  tests/test_files/query_resources_request.xml
  tests/test_files/serialization_1.xml
  tests/test_files/serialization_2.xml
  tests/test_security/test_certs.py
  tests/test_security/test_crypto.py
  tests/test_types/test_award.py
  tests/test_types/test_reserve.py
  tests/test_types/test_resource.py
  tests/test_types/test_transport.py
  tests/test_utils/test_auditing.py
  tests/test_utils/test_serialization.py
  tests/test_utils/test_web.py
  tests/testutils.py
Due: pylint, mypy

Made signatures readable
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_client/test_registration.py
  tests/test_security/test_crypto.py
Due: pylint

Fixed ERJ domain in CIDs
  src/mms_client/services/base.py
  src/mms_client/utils/multipart_transport.py
  src/mms_client/utils/web.py
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_client/test_registration.py
  tests/test_utils/test_auditing.py
  tests/test_utils/test_web.py
  tests/testutils.py
Due: pylint, mypy

Renaming
  src/mms_client/utils/multipart_transport.py
Due: pylint, mypy

Update readme
  README.md
Due: none

Added support for reports
  README.md
  poetry.lock
  pyproject.toml
  src/mms_client/services/base.py
  src/mms_client/services/market.py
  src/mms_client/services/registration.py
  src/mms_client/services/report.py
  src/mms_client/types/base.py
  src/mms_client/types/enums.py
  src/mms_client/types/report.py
  src/mms_client/types/resource.py
  src/mms_client/utils/serialization.py
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_client/test_report.py
  tests/test_files/bsp_resource_list_full.xml
  tests/test_files/create_report_request.xml
  tests/test_files/create_report_request_full.xml
  tests/test_files/create_report_response_full.xml
  tests/test_files/download_report_request.xml
  tests/test_files/download_report_request_full.xml
  tests/test_files/download_report_response_full.xml
  tests/test_files/list_report_request_full.xml
  tests/test_files/list_report_response_full.xml
  tests/test_types/test_report.py
  tests/test_utils/test_serialization.py
  tests/testutils.py
Due: pylint, mypy

Minor typesetting fix
  tests/test_client/test_report.py
Due: pylint

Fixed reports to reflect testing
  README.md
  src/mms_client/services/base.py
  src/mms_client/services/report.py
  src/mms_client/types/report.py
  tests/test_client/test_report.py
  tests/test_files/create_report_request_full.xml
  tests/test_files/list_reports_request_full.xml
  tests/test_files/list_reports_response_full.xml
  tests/test_utils/test_serialization.py
Due: pylint, mypy

Fix the request type for registration
  src/mms_client/types/transport.py
Due: pylint, mypy

Update pyproject.toml file
  pyproject.toml
Due: none

Changed where plugin was connected
  src/mms_client/services/base.py
  src/mms_client/utils/multipart_transport.py
  src/mms_client/utils/plugin.py
  src/mms_client/utils/web.py
  tests/test_utils/test_plugin.py
Due: pylint, mypy

Updated readme
  README.md
Due: none

Version update
  pyproject.toml
Due: none

Replace subscript with pop
  src/mms_client/utils/multipart_transport.py
Due: pylint, mypy

Ensured that timezones work as expected
  pyproject.toml
  src/mms_client/services/market.py
  src/mms_client/services/registration.py
  src/mms_client/types/award.py
  src/mms_client/types/market.py
  src/mms_client/types/offer.py
  src/mms_client/types/registration.py
  src/mms_client/types/report.py
  src/mms_client/types/reserve.py
  src/mms_client/types/resource.py
  tests/test_client/test_base.py
  tests/test_client/test_market.py
  tests/test_client/test_registration.py
  tests/test_client/test_report.py
  tests/test_files/awards_response_full.xml
  tests/test_files/download_report_response_full.xml
  tests/test_files/query_awards_request.xml
  tests/test_files/query_awards_response.xml
  tests/test_types/test_award.py
  tests/test_types/test_market.py
  tests/test_types/test_offer.py
  tests/test_types/test_registration.py
  tests/test_types/test_report.py
  tests/test_types/test_reserve.py
  tests/test_types/test_resource.py
  tests/test_utils/test_serialization.py
Due: pylint, mypy

Instance method disagrees with pylint =/
  src/mms_client/types/award.py
  src/mms_client/types/offer.py
  src/mms_client/types/report.py
  src/mms_client/types/reserve.py
Due: pylint, mypy

Refactored CODEOWNERS file
  CODEOWNERS
Due: none

Make the reserve requirements endpoint return a list instead of a single item
  pyproject.toml
  src/mms_client/services/market.py
  tests/test_client/test_market.py
Due: pylint, mypy

Use Annotation for lists
  src/mms_client/types/award.py
  src/mms_client/types/offer.py
  src/mms_client/types/report.py
  src/mms_client/types/reserve.py
  src/mms_client/types/resource.py
  src/mms_client/types/transport.py
Due: pylint, mypy

Update poetry version
  pyproject.toml
Due: none

Fix remote mypy failure
  src/mms_client/types/transport.py
Due: pylint, mypy

Update mypy
  poetry.lock
Due: none

Fixed issues with reserve requirements
  src/mms_client/services/market.py
  src/mms_client/types/fields.py
Due: pylint, mypy

Fixed test
  tests/test_client/test_market.py
Due: pylint

Identified empty search response error; refactored messages
  pyproject.toml
  src/mms_client/__init__.py
  src/mms_client/types/base.py
  tests/test_client/test_base.py
  tests/test_files/base_failed_response.xml
  tests/test_files/base_response.xml
  tests/test_files/delete_offer_response.xml
  tests/test_files/put_offer_response.xml
  tests/test_files/put_resource_response.xml
  tests/test_files/query_awards_response.xml
  tests/test_files/query_reserve_requirements_response.xml
  tests/test_files/serialization_1.xml
  tests/test_files/serialization_3.xml
  tests/test_files/serialization_empty.xml
  tests/test_utils/test_serialization.py
  tests/testutils.py
Due: pylint, mypy

Added extra deserialization step
  src/mms_client/__init__.py
  src/mms_client/services/base.py
  src/mms_client/utils/errors.py
  src/mms_client/utils/serialization.py
  tests/test_client/test_base.py
  tests/test_utils/test_serialization.py
  tests/testutils.py
Due: pylint, mypy

Update README
  README.md
Due: none

Added MMS changes for BUPs, settlement results and v20 changes
  poetry.lock
  pyproject.toml
  src/mms_client/schemas/wsdl/mi-web-service-jbms.wsdl
  src/mms_client/schemas/wsdl/omi-web-service.wsdl
  src/mms_client/schemas/xsd/mi-market.xsd
  src/mms_client/schemas/xsd/mi-outbnd-reports.xsd
  src/mms_client/schemas/xsd/mi-report.xsd
  src/mms_client/schemas/xsd/mpr.xsd
  src/mms_client/schemas/xsd/omi.xsd
  src/mms_client/services/market.py
  src/mms_client/types/award.py
  src/mms_client/types/bup.py
  src/mms_client/types/market.py
  src/mms_client/types/offer.py
  src/mms_client/types/settlement.py
Due: pylint, mypy

Fixed mypy errors
  poetry.lock
  pyproject.toml
  src/mms_client/schemas/xsd/mi-outbnd-reports.xsd
  src/mms_client/schemas/xsd/mi-report.xsd
  src/mms_client/schemas/xsd/mpr.xsd
  src/mms_client/schemas/xsd/omi.xsd
  src/mms_client/services/market.py
  src/mms_client/types/bup.py
  src/mms_client/types/market.py
  src/mms_client/types/settlement.py
Due: pylint, mypy

Added surplus capacity types
  src/mms_client/services/omi.py
  src/mms_client/types/omi.py
  src/mms_client/types/surplus_capcity.py
Due: pylint, mypy

Fixed broken tests
  src/mms_client/types/award.py
  src/mms_client/types/offer.py
  tests/test_client/test_market.py
  tests/test_files/awards_response_full.xml
  tests/test_files/query_awards_response.xml
  tests/test_types/test_award.py
Due: pylint, mypy

Finished BupSubmit serialization tests
  src/mms_client/types/bup.py
  src/mms_client/types/market.py
  src/mms_client/types/settlement.py
  src/mms_client/types/surplus_capcity.py
  tests/test_files/bup_submit_full.xml
  tests/test_types/test_bup.py
  tests/test_types/test_market.py
  tests/testutils.py
Due: pylint, mypy

Added the BupQuery serialization tests
  src/mms_client/types/bup.py
  tests/test_types/test_bup.py
  tests/testutils.py
Due: pylint, mypy

Added settlement serialization tests
  src/mms_client/services/market.py
  src/mms_client/types/settlement.py
  tests/test_types/test_settlement.py
  tests/testutils.py
Due: pylint, mypy

Added OMI type serialization tests
  tests/test_types/test_omi.py
  tests/testutils.py
Due: pylint
